$main-color: #FFCDC9;

.navbar {
    background-color: $main-color;

}

.List-1 {
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px;
    z-index: -1;
    margin-bottom: -40px;

    img {
        width: 80%;
        
        object-fit: cover;
        background-size: cover;
    
        height: 600px;
        background-size: cover;
        background-position: center;
    
        transform-origin: center;
    }

}

.display {
    background: white;
    border-radius: 60px;
    height: 200px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: baseline;
    position: relative;
    gap: 8px;
    flex-direction: column;




    .btn1 {
        height: 110px;
        width: 110px;
        background-color: rgb(250, 250, 250);
        margin: 24px;
        position: relative;
        border-radius: 100px;
        color: #5e6669;
        border: none;


        transition: 130ms;

        &:hover {
            box-shadow: 0 0 5px gray;

            transform: translateY(-3px);
        }

        ion-icon {
            font-size: 50px;
        }
    }
}

.display-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    


    .text {
        font-size: 18px;
        margin-top: -10px;
        width: 1100px;

    }
}

.mText {
    color: rgb(175, 175, 175);
    margin-bottom: 70px;
}
.text1 {
    ;
    .mImage {
    height: 400px;
    width: 400px;
    }
}