$main-color: #FFCDC9;



.navbar {
    background-color: $main-color;
    font-family: "Lato", sans-serif;
}

.List-1 {
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px;
    z-index: -1;
    margin-bottom: -40px;

    img {
        width: 80%;

        object-fit: cover;
        background-size: cover;

        height: 600px;
        background-size: cover;
        background-position: center;

        transform-origin: center;
    }

}

.display {
    background: white;
    border-radius: 60px;
    height: 200px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: baseline;
    position: relative;
    gap: 8px;
    flex-direction: column;




    .btn1 {
        height: 110px;
        width: 110px;
        background-color: rgb(250, 250, 250);
        margin: 24px;
        position: relative;
        border-radius: 100px;
        color: #5e6669;
        border: none;


        transition: 130ms;

        &:hover {
            box-shadow: 0 0 5px gray;

            transform: translateY(-3px);
        }

        ion-icon {
            font-size: 50px;
        }
    }
}

.display-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;



    .text {
        font-size: 18px;
        margin-top: -10px;
        width: 1100px;
        font-family: "Montserrat", sans-serif;

    }
}

.mText {
    color: rgb(175, 175, 175);
    margin-bottom: 70px;
    font-family: "Lato", sans-serif;
}

.text1 {
    margin-bottom: 200px;

    .mText1 {
        margin-top: 40px;
        text-align: left;
        text-wrap: wrap;
        h1 {
            font-family: "Lato", sans-serif;
        }

    }

    img {
        height: 463px;
        width: 463px;
    }

    button {
        margin-top: 20px;
    }
}