$main-color: #FFCDC9;



.navbar {
    background-color: $main-color;
    font-family: "Lato", sans-serif;
}

.List-1 {
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px;
    z-index: -1;
    margin-bottom: -40px;

    img {
        width: 80%;

        object-fit: cover;
        background-size: cover;

        height: 600px;
        background-size: cover;
        background-position: center;

        transform-origin: center;
    }

}

.display {
    background: white;
    border-radius: 60px;
    height: 200px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: baseline;
    position: relative;
    gap: 8px;
    flex-direction: column;




    .btn1 {
        height: 110px;
        width: 110px;
        background-color: rgb(250, 250, 250);
        margin: 24px;
        position: relative;
        border-radius: 100px;
        color: #5e6669;
        border: none;


        transition: 130ms;

        &:hover {
            box-shadow: 0 0 5px gray;

            transform: translateY(-3px);
        }

        ion-icon {
            font-size: 50px;
        }
    }
}

.display-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;



    .text {
        font-size: 18px;
        margin-top: -10px;
        width: 1100px;
        font-family: "Montserrat", sans-serif;

    }
}

.mText {
    color: rgb(175, 175, 175);
    margin-bottom: 70px;
    font-family: "Lato", sans-serif;
}

.text1 {

    margin: 50px 50px 200px 50px;

    .mText1 {
        margin-top: 20px;
        text-align: left;
        text-wrap: wrap;

        h1 {
            font-family: "Lato", sans-serif;
        }

    }

    img {
        height: 463px;
        width: 463px;
        border-radius: 16px;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        border: 1px solid black;
        font-weight: 600;
        border-radius: 5px;
        width: 200px;
        height: 60px;
        gap: 5px;
        font-size: 18px;
        color: #5e6669;
        background-color: white;

        &:hover {
            box-shadow: 0 0 2px #5e6669;
        }

        ion-icon {

            font-size: 20px;
        }
    }
}

.displaySup {
    display: flex;

    img {
        width: 100%;
        height: 100%;
    }
}

.productList {
    display: flex;
    justify-content: baseline;
    margin-bottom: 200px;

    .card {
        border: none;
        margin: 20px;
        position: relative;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }

        .img-wrap {
            position: relative;
            overflow: hidden;
        }

        .someP {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            height: 55px;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: rgb(218, 216, 216);
            backdrop-filter: blur(10px);
            border-radius: 0 0 16px 16px;
            opacity: 0;
            transform: translateY(100%);
            transition: 0.25s ease;



            ion-icon {

                justify-content: center;
                align-items: center;
                font-size: 30px;
                color: black;
            }

        }

        &:hover .someP {
            opacity: 1;
            transform: translateY(0);
            border-radius: 0 0 16px 16px;
        }

        img {
            border-radius: 16px;
        }

        .card-body {
            text-align: start;
            z-index: 11;

            .st {
                opacity: 0.6;
                margin-bottom: 0;
                font-size: 15.5px;
            }

            .st1 {
                font-size: 19px;
                font-weight: 500;

            }

            img {
                margin-top: -10px;
                height: 27px;

            }

            .card-text {

                font-weight: 650;
                font-size: 19px;
                margin-bottom: 5px;


            }
        }
    }
}

.wrapper {
    max-height: 700px;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    margin-top: 200px;
    margin-bottom: 250px;


    .item {
        margin-right: 60px;
        min-width: 250px;
        height: 650px;
    
        text-align: center;
        
    
        .card {
            img {
                height: 400px;
            }
        }
    }
}


.block {
    height: 300px;

    img {
        margin-bottom: 30px ;
    }
}